body {
	background-color: #ddd;
	color: #333;
	font-family: sans-serif;
	margin: 0;
}

.vbu-report {
	background-color: #f3f3f3;
	box-shadow: 0 0 5px #aaa;
	margin: 0 auto;
	max-width: 768px;
	padding-bottom: 1em;
}

.vbu-verdict {
	letter-spacing: 0.5em;
	margin-top: 0;
	padding: 0.5em 0;
	text-align: center;
	text-shadow: 2px 2px 2px rgba(0,0,0, 0.4);
	text-transform: uppercase;
}

.vbu-verdict.vbu-success {
	background-color: #00cc62;
	color: white;
}

.vbu-verdict.vbu-fail {
	background-color: #FF4D4F;
	color: white;
}

.vbu-stats {
	padding: 0 1em;
}

.vbu-culprits {
	list-style-type: none;
	padding-left: 0;
}

.vbu-culprits > li:before {
	color: #FF4D4F;
	content: ":(";
	margin: 0 1em 0 1.5em;
}

.vbu-footer {
	color: #aaa;
	font-size: 0.8em;
	font-style: italic;
	margin: 0.5em auto;
	max-width: 768px;	
	text-align: center;
}

.vbu-footer a,
.vbu-footer a:visited {
	color: #aaa;
	text-decoration: none;
}

.vbu-footer a:hover {
	text-decoration: underline;
}
